body {
	margin: 0;
	display: block;
/*	overflow: hidden;
*/}
.header {
	height: 300px;
	width: 100%;
	overflow: hidden;
	position: relative;

}
.header .title {
	color: #3412A5;
	position: absolute;
	width: 100%;
	text-align: center;
	/* Starting position */
/*	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);    
	transform: translateX(100%);
*/	/* Apply animation to this element */  
/*	-moz-animation: titleScroll 15s linear infinite;
	-webkit-animation: titleScroll 15s linear infinite;
	animation: titleScroll 15s linear infinite;*/
}

.background-image {
	position: absolute;
	z-index: -1;
/*	height: 350px;
*/	margin-top: 80px;
}

.body {
	height: calc(100% - 300px);
	width: 100%;
	display: flex;
	justify-content: center;
}

.body .contact-info {
	margin-top: 200px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
}




/* Animation for title scroll */
@-moz-keyframes titleScroll {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes titleScroll {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}

@keyframes titleScroll {
	0% { 
 		-moz-transform: translateX(100%); /* Firefox bug fix */
 		-webkit-transform: translateX(100%); /* Firefox bug fix */
 		transform: translateX(100%);       
 	}
 	100% { 
 		-moz-transform: translateX(-100%); /* Firefox bug fix */
 		-webkit-transform: translateX(-100%); /* Firefox bug fix */
 		transform: translateX(-100%); 
 	}
}
